body {
  background-color: #fafafa;
}
.header {
  clear: both;
  overflow: hidden;
  padding: 15px;
  position: relative;
  background: #ed1c24;
  text-align: center;
  color: #fff;
}

.pre-test {
  width: 84px;
  height: 31px;
  // font-family: TISCO;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.bg-grey {
  background: #fafafa;
  padding: 15px;
  height: 100vh;
}

.inputGroup {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fefefc;
  border: solid 1px #fefefc;
  label {
    padding: 12px 30px;
    width: 100%;
    display: block;
    text-align: left;
    color: #3c454c;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    margin: 0;

    &:before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: "";
    //   border-color: #227dbf;
    //   background-color: #f4fbff;
    //   background-color: #5562eb;
      position: absolute;
      left: 50%;
      top: 50%;
    //   transform: translate(-50%, -50%) scale3d(1, 1, 1);
    //   transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      opacity: 0;
      z-index: -1;
    }

    &:after {
      width: 32px;
      height: 32px;
      content: "";
      border: 1px solid #b4b4b4;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
      // background-image: url("/assets/images/checkmark-outline.svg");
      background-repeat: no-repeat;
      background-position: 6px 10px;
      border-radius: 50%;
      z-index: 2;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      transition: all 200ms ease-in;
    }
  }

  input:checked ~ label {
    //   color: #227dbf;

    &:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;
    }

    &:after {
      background-image: url("/assets/images/checkmark-outline.svg");
      border-color: #227dbf;
    }
  }

   input ~ label.error {
    //   color: #ed1c24;

    &:before {
      transform: translate(-50%, -50%) scale3d(56, 56, 1);
      opacity: 1;
    }

    &:after {
      border-color: #ed1c24;
    }
  }

  input {
    width: 32px;
    height: 32px;
    order: 1;
    z-index: 2;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    visibility: hidden;
  }
}

.check  {
    // box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-color: #227dbf;
    background-color: #f4fbff;
    border-radius: 10px;
}

.error  {
    // box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    color: #ed1c24 !important;
    border-color: #ed1c24;
    border-radius: 10px;
}


// codepen formatting
.form {
  padding: 0 16px;
  max-width: 550px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

body {
  background-color: #d1d7dc;
  font-family: "Fira Sans", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

code {
  background-color: #9aa3ac;
  padding: 0 8px;
}

.btn-block{
    margin-top: 100px;
    border-radius: 22px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #227dbf;
    color: #fff;
}