

  <!-- <figure class="snip0057 blue">
    <div class="image"><img [src]="profile?.pictureUrl" alt="sample3"/></div>
    <figcaption>
      <h2>{{profile?.displayName}} | <span>Display Name</span></h2>
      <p>{{profile?.statusMessage}}.</p>
      <div class="icons"><a href="#"><i class="ion-ios-home"></i></a><a href="#"><i class="ion-ios-email"></i></a><a href="#"><i class="ion-ios-telephone"></i></a></div>
    </figcaption>
    <div class="position">{{profile?.userId}}</div>
  </figure>
  <app-line-liff (getProfile)=getProfile($event)></app-line-liff> -->
  <!-- <app-line-liff (getProfile)=getProfile($event)></app-line-liff>
  <div class="header">
      <div class="info">
      <h4><a href="#category">{{profile?.userId}}</a></h4>
        <h1>{{profile?.statusMessage}}.</h1>
        <div class="meta">
          <div>
            <img [src]="profile?.pictureUrl"  class="author">
          </div>
          By <a href="" target="_b">{{profile?.displayName}}</a>
        </div>
      </div>
    </div>
    <section class="content">
        <video-player></video-player>
        <stream-list></stream-list>
    </section> -->
    <router-outlet></router-outlet>
    <app-line-liff></app-line-liff>