<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
        <label for="tab-1" class="tab"></label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"></label>
        <div class="login-form">
            <div class="sign-in-htm">
                <img src="/assets/images/mascot.svg" class="Logo-CSR margin-top-25 margin-bottom-25">
                <div class="group">
                    <h2 for="pass" class="label upper">INSTRUCTION</h2>
                    <h5 for="pass" class="label">Vivamus et est at arcu mattis dictum 
                            vel quis orci. Fusce</h5>
                </div>
                <div class="group margin-top-100">
                    <input type="submit" class="button" [routerLink]="['/pages/pre-test']" value="Get Strated">
                </div>
                <!-- <div class="group">
                    <label for="pass" class="label upper font12">INSTRUCTION</label>
                </div> -->
            </div>
        </div>
    </div>
</div>